.Profile__carousel_1 {
  width: 100%;
  height: 100%;
  background-color: red;
}

.Profile__carousel_2 {
  width: 100%;
  height: 100%;
  background-color: green;
}

.Profile__carousel_3 {
  width: 100%;
  height: 100%;
  background-color: blue;
}
.Profile_carousel_wrapper {
}
