.slider_main{
  width: 100%;
  display: flex;
  height: 70%;
  justify-content: center;
  margin: auto;
}
.slider_wrapper {
  width: 100%;
  height: 50%;
  border-top: 5px solid #ffd53d;
  border-bottom: 5px solid #ffd53d;
}
.slider_img{
  height: 65%;
}


/* стили для текста над каруселью */
.title_slider_wrapper{
  position: absolute;
  width: 60%;
  border: 5px solid #ffd53d;
  font-family: sans-serif;
  font-size: 28px;
  color: #ffd53d;
  margin-top: 10%;
  margin-left: 35%;
  z-index: 9999;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.2);
}
.title_slider{
  padding: 20px;
}
.title2_slide{
  padding: 20px;

  /*width: 70%;*/
}
.title_img{
  width: 400px;
  z-index: 99999;
}
