.search_main{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40%;
}

.search_input{
  background-color: #0067B3;
  height: 100px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;

  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 0.5s; /*Скорость перехода состояния элемента*/
  animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.3s; /* Задержка перед началом */

  margin: auto;
}
@keyframes show{
  0%{
    opacity:0;
    padding-left: 500px;
  }
  100% {
    opacity:1;
  }
}
.search_input input{
  text-align: center;
  border: none;
  background-color: white;
  border-radius: 20px;
  margin-top: 35px;
  height: 40px;
}
.search_btn {
  margin-top: 35px;
  height: 40px;
  width: 80px;
  background-color: yellow;
  border-radius: 30%;
}
.search_title{
  background-color: #0067B3;
  height: 100px;
  width: 90%;
  margin: auto;
  display: flex;
  animation: left 2s 1;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 0.5s; /*Скорость перехода состояния элемента*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.3s; /* Задержка перед началом */
}
.search_titleTwo {
  margin-left: 85px;
  margin-top: 50px;
  color: white;
}
.search_titleThree {
  margin-left: 180px;
  margin-top: 50px;
  color: white;
}
.search_titleFour {
  margin-left: 150px;
  margin-top: 50px;
  color: white;
}
.search_titleFive {
  margin-left: 135px;
  margin-top: 50px;
  color: white;
}
.search_titleSix {
  margin-left: 165px;
  margin-top: 50px;
  color: white;
}
.search_text {
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 0.5s; /*Скорость перехода состояния элемента*/
  animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.3s; /* Задержка перед началом */

  margin: auto;
}
@keyframes left{
  0%{
    opacity:0;
    padding-right: 500px;
    padding-top: 500px;
  }
  100% {
    opacity:1;
  }
}
.tur_img {
  width: 100%;
  height: 100%;
}
.search_imgBlock {
  margin-top: 50px;
  width: 400px;
  height: 250px;
}
.tur_name {
  display: flex;
  justify-content: space-around;
}