.search_main{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
}
.Search_main_Block{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  align-items: center;
}
.search_input{
  background-color: #0067B3;
  width: 82%;
  padding: 5px 27px 27px 27px;
  /*margin: auto;*/
  border-radius: 25px;
}
.titles{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
.search_titleTwo, .search_titleThree{
  width: 20%;
  padding-left: 10px;
}
.search_titleFour, .search_titleFive, .search_titleSix{
  width: 13%;
  text-align: center;
}

.search_inp{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.search_inputTwo, .search_inputThree{
  width: 20%;
}
.search_inputFour, .search_inputFive, .search_inputSix{
  width: 13%;
  text-align: center;
}
.search_inp input{
  /*height: 25px;*/
  padding: 8px 8px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
}
.Search_btn_block{
  width: 16%;
}
.search_btn{
  border: none;
  background-color: white;
  color: #0067B3;
  border-radius: 10px;
  font-size: 21px;
  width: 100%;
  padding: 20px 40px;
}
.search_btn h1{
  margin: 0;
}

.tur_name{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
}
.search_imgBlock{
  height: 200px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.tours_cards_wrapper{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px black;
  position: relative;
}
.tur_img{
  width: 100%;
  height: 100%;
  border-radius: 5px
}

.absolute_display{
  position: relative;
  width: 100%;
  bottom: 60%;
  z-index: 20;
  background-color: rgba(255, 213, 61, 0.89);
  transition: 1s all;

}




.absolute_display_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  height: 100%;
  display: block;
  line-height: 50px;
}
.absolute_display_link:hover {
  font-size: 40px;
  transition: 1s all;
  color: white;
}







/*.search_input{*/
/*  background-color: #0067B3;*/
/*  height: 150px;*/
/*  width: 90%;*/
/*  margin: auto;*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  width: 1200px;*/
/*  border-radius: 40px;*/
/*  margin: auto;*/
/*}*/

/*.search_input input{*/
/*  text-align: center;*/
/*  border: none;*/
/*  background-color: white;*/
/*  margin-top: 35px;*/
/*  height: 30px;*/
/*}*/
/*.search_btn {*/
/*  height: 70px;*/
/*  width: 164px;*/
/*  margin-top: 35px;*/
/*  background-color: #FFFFFF;*/
/*}*/
/*.Search_btn_block {*/
/*  margin-right: 50px;*/
/*  margin-top: 13px;*/
/*  text-align: center;*/
/*}*/
/*.search_title{*/
/*  height: 100px;*/
/*  width: 90%;*/
/*  margin: auto;*/
/*  display: flex;*/
/*}*/
/*.search_titleTwo {*/
/*  margin-top: 30px;*/
/*  color: white;*/
/*}*/
/*.search_titleThree {*/
/*  margin-left: 175px;*/
/*  margin-top: 30px;*/
/*  color: white;*/
/*}*/
/*.search_titleFour {*/
/*  margin-left: 235px;*/
/*  margin-top: 30px;*/
/*  color: white;*/
/*}*/
/*.search_titleFive {*/
/*  margin-left: 25px;*/
/*  margin-top: 30px;*/
/*  color: white;*/
/*}*/
/*.search_titleSix {*/
/*  margin-top: 30px;*/
/*  color: white;*/
/*}*/
/*.search_text {*/
/*  margin: auto;*/
/*}*/
/*.wrapper_tur_img {*/
/*  width: 250px;*/
/*  margin: auto;*/
/*  height: 150px;*/
/*}*/
/*.tur_img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
/*.search_imgBlock {*/
/*  font-family: "Roboto", sans-serif;*/
/*  position: relative;*/
/*  margin-top: 50px;*/
/*  width: 350px;*/
/*  box-sizing: border-box;*/
/*  border: 1px solid black;*/
/*  background-color: rgba(211, 211, 211, 0.31);*/
/*}*/
/*.tur_name {*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  flex-wrap: wrap;*/
/*  width: 1200px;*/
/*}*/
/*.h_search {*/
/*  margin-top: 25px;*/
/*  margin-left: 30px;*/
/*  position: absolute;*/
/*  display: flex;*/
/*  background-color: rgba(211, 211, 211, 0.31);*/
/*  width: 300px;*/
/*}*/
/*.search_text {*/
/*  margin-left: 30px;*/
/*}*/
/*.hotel_title {*/
/*  font-size: 25px;*/
/*}*/
/*.tur_to {*/
/*  margin-right: 200px;*/
/*}*/
/*.tur_price {*/
/*  margin-left: 200px;*/
/*}*/
/*.tur_buy {*/
/*  text-decoration: none;*/
/*  cursor: pointer;*/
/*}*/
/*.tur_buy:hover {*/
/*  padding: 5px;*/
/*}*/
/*.img_busket {*/
/*  width: 25px;*/
/*  height: 15px;*/
/*}*/
/*.Search_main_Block {*/
/*  display: flex;*/
/*  box-sizing: border-box;*/
/*}*/
/*.search_inputTwo {*/
/*  margin-bottom: 50px;*/
/*  flex: 0;*/
/*  border-radius: 20px;*/
/*  padding-right: 85px;*/
/*}*/
/*.search_inputThree {*/
/*  flex: 0;*/
/*  border-radius: 20px;*/
/*  padding-right: 85px;*/
/*}*/
/*.search_inputFour {*/
/*  padding-left: 20px;*/
/*  width: 100px;*/
/*  margin-left: 75px;*/
/*  border-radius: 20px;*/
/*}*/
/*.search_inputFive {*/
/*  border-radius: 20px;*/
/*  margin-left: 25px;*/
/*  width: 75px;*/
/*}*/
/*.search_inputSix {*/
/*  border-radius: 20px;*/
/*  width: 75px;*/
/*  margin-right: 50px;*/
/*}*/
/*.tours_cards_title {*/
/*  display: flex;*/
/*}*/
/*.tours_cards_wrapper {*/
/* width: 350px;*/
/* margin: auto;*/
/* height: 200px;*/
/* position: relative;*/
/*}*/
/*.absolute_display {*/
/*  text-align: center;*/
/*  position: absolute;*/
/*  bottom: 75px;*/
/*  width: 350px;*/
/*  background-color: #40B0DF;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
/*.titles {*/
/*  display: flex;*/
/*  background-color: #0067B3;*/
/*  height: 50px;*/
/*  width: 90%;*/
/*  margin: auto;*/
/*  justify-content: space-around;*/
/*}*/
/*.search_inp {*/
/*  background-color: #0067B3;*/
/*  margin: auto;*/
/*  display: flex;*/
/*  width: 1200px;*/
/*  border-radius: 40px;*/
/*  justify-content: space-around;*/
/*  margin: auto;*/
/*}*/
/*.empty {*/
/*  margin: auto;*/
/*  margin-right: 375px;*/
/*  margin-top: 175px;*/
/*}*/